@import 'style.css';

body {
    background-color: var(--bg);
}

.model_card {
    text-align: left;
    margin-left: var(--def-margin);
    margin-right: var(--def-margin);
}

.author {
    color: var(--accent);
}

.download-block {
    margin-top: 1em;
}

.download-text {
    text-decoration: underline;
    text-decoration-color: var(--accent);
}

.short_desc {
    margin-top: 1em;
}

.readme-header {
    margin-top: 3em;
    background-color: var(--impressed);
    display: inline-block;
    padding: .1em;
    color: var(--accent);
}