@import 'style.css';

.nav-container {
    font-family: var(--font);
    font-size: 1em;
    color: var(--text);
    padding: 1em;
    padding-left: var(--def-margin);
    text-align: left;
    border-bottom: 1px solid var(--text);

    display: flex;
}

.big-text {
    font-size: 1.5em;
    margin-right: .5em;
}

.little-text {
    margin-left: 1em;
    margin-right: 1em;
    padding-top: .3em;  /* this is mostly to do with the Big Text not being an image, yet */
    vertical-align: middle;

    text-decoration: underline;
    text-decoration-color: var(--accent);

    display: inline-block;
}

.login-sensitive {
    display: inline;
}